<% layout('/layouts/default.html', {title: '维修部件表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('维修部件表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('htassemblyunit:htAssemblyUnit:edit')){ %>
					<a href="${ctx}/htassemblyunit/htAssemblyUnit/form" class="btn btn-default btnTool" title="${text('新增维修部件表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${htAssemblyUnit}" action="${ctx}/htassemblyunit/htAssemblyUnit/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('部件名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('部件类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="mainFlag" dictType="ht_assembly_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属类目')}：</label>
					<div class="control-inline width-120">
						<#form:select path="category" dictType="ht_assembly_category" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("部件名称")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/htassemblyunit/htAssemblyUnit/form?id='+row.id+'" class="btnList" data-title="${text("编辑维修部件表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("部件类型")}', name:'mainFlag', index:'a.main_flag', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('ht_assembly_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("所属类目")}', name:'category', index:'a.category', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('ht_assembly_category')}, val, '${text("未知")}', true);
		}},
        {header:'${text("备注")}', name:'remark', index:'a.remark', width:150, align:"left"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"left", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
         }},
        {header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
        {header:'${text("操作者")}', name:'updateBy', index:'a.update_by', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('htassemblyunit:htAssemblyUnit:edit')){ %>
				actions.push('<a href="${ctx}/htassemblyunit/htAssemblyUnit/form?id='+row.id+'" class="btnList" title="${text("编辑维修部件表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/htassemblyunit/htAssemblyUnit/disable?id='+row.id+'" class="btnList" title="${text("停用维修部件表")}" data-confirm="${text("确认要停用该维修部件表吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/htassemblyunit/htAssemblyUnit/enable?id='+row.id+'" class="btnList" title="${text("启用维修部件表")}" data-confirm="${text("确认要启用该维修部件表吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/htassemblyunit/htAssemblyUnit/delete?id='+row.id+'" class="btnList" title="${text("删除维修部件表")}" data-confirm="${text("确认要删除该维修部件表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>