<% layout('/layouts/default.html', {title: '工单主表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('工单主表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${htFormInfo}" action="${ctx}/forminfo/htFormInfo/putUpListData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('工单ID')}：</label>
					<div class="control-inline">
						<#form:input path="id" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('处理状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="manageStatus" dictType="manage_status" blankOption="true" blankOptionLabel="请选择"  class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工单状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="formStatus" dictType="form_status" blankOption="true" blankOptionLabel="请选择"  class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("工单id")}', name:'id', index:'a.id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/forminfo/htFormInfo/putUpForm?id='+row.id+'" class="btnList" data-title="${text("激活工单主表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("保单id")}', name:'policyInfo.id', index:'p.id', width:150, align:"center"},
		{header:'${text("工单类型")}', name:'formType', index:'a.form_type', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('form_type')}, val, '${text("未知")}', true);
            }},
		{header:'${text("处理状态")}', name:'manageStatus', index:'a.manage_status', width:150, align:"center", formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('manage_status')}, val, '${text("未知")}', true);
			}},
		{header:'${text("工单状态")}', name:'formStatus', index:'a.form_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('form_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>