<% layout('/layouts/default.html', {title: '申请重新开启', libs: ['validate','fileupload']}){ %>
<link rel="stylesheet" href="${ctxStatic}/common/css/index.css">
<script src="${ctxStatic}/common/js/index.js"></script>
<script src="${ctxStatic}/common/js/jquery.rotate.min.js"></script>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>

		<#form:form id="inputForm" model="${htFormOperation}" action="${ctx}/forminfo/htFormOperation/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div  style="text-align:center;"><h3>申请重新开启</h3></div>
				<#form:input path="formId" style="display: none"/>
				<#form:input path="bdId" style="display: none"/>
				<#form:input path="bpm.taskId" style="display: none"/>
				<#form:input path="bpm.procInsId" style="display: none"/>
				<#form:input path="bpm.activityId" style="display: none"/>
                <#form:input id="operationType"  name="operationType" value="3" style="display: none"/>
				<#form:input id="type"  name="type" value="1" style="display: none"/>
				<#form:input id="reopen"  name="reopen" value="1" style="display: none"/>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-5">截图证明:</label>
							<div class="col-sm-7">
								<#form:fileupload id="uploadImage2" returnPath="true"
								filePathInputId="url" fileNameInputId="urlName"
								bizKey="${htFormOperation.id}" bizType="HtFormOperation_image"
								uploadType="image" readonly="false" />
								<#form:hidden name="url" class="form-control"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required ">*</span> ${text('重新开启原因:')}<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<p><label><#form:radio path="reopenType" dictType="reopen"  class="form-control required"/></label><label><#form:input   path="otherReason" class="form-control required"   disabled="disabled" style="width: 100px"/></label></p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('备注:')}<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea  path="reason" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('审核人:')}<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select  path="verifier" items="${list}"  itemLabel="user_name"  itemValue="user_code"    blankOption="true"  blankOptionLabel="请选择"  class="form-control required" />
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>

		</#form:form>


</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
                js.closeCurrentTabPage(function(contentWindow){
                    contentWindow.location.reload(true)
                    console.log("关闭");
                    //window.close()
                       // js.closeCurrentTabPage()
                       // location.reload()
                       // history.go(0)
                        // window.location.href="${ctx}/htclaimsettlementform/htClaimSettlementForm/formInfo?formId=${htFormOperation.formId}"

                });
			}
		}, "json");
    }
});
$("input:radio[name='reopenType']").on('ifChecked', function(){
    let flag = $(this).val();
    console.log(flag);
    if(flag == '5'){
        $('#otherReason').attr("disabled",false)
    }else{
        $('#otherReason').attr("disabled",true)
    }

});
</script>