<% layout('/layouts/default.html', {title: '配件表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('配件表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('htaccessoriesinfo:htAccessoriesInfo:edit')){ %>
					<a href="${ctx}/htaccessoriesinfo/htAccessoriesInfo/form" class="btn btn-default btnTool" title="${text('新增配件表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${htAccessoriesInfo}" action="${ctx}/htaccessoriesinfo/htAccessoriesInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('配件名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<!--<div class="form-group">
					<label class="control-label">${text('配件型号')}：</label>
					<div class="control-inline">
						<#form:input path="type" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否原厂')}：</label>
					<div class="control-inline">
						<#form:input path="isOriginal" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属类目')}：</label>
					<div class="control-inline width-120">
						<#form:select path="category" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属部件')}：</label>
					<div class="control-inline width-120">
						<#form:select path="assemblyId" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('价格')}：</label>
					<div class="control-inline">
						<#form:input path="price" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否启用')}：</label>
					<div class="control-inline">
						<#form:input path="isStart" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remark" maxlength="255" class="form-control width-120"/>
					</div>
				</div>-->
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("配件名称")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/htaccessoriesinfo/htAccessoriesInfo/form?id='+row.id+'" class="btnList" data-title="${text("编辑配件表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("配件型号")}', name:'type', index:'a.type', width:150, align:"left"},
		{header:'${text("配件品质")}', name:'isOriginal', index:'a.is_original', width:150, align:"left",formatter:function (val, obj, row, act) {
            return js.getDictLabel(${@DictUtils.getDictListJson('common_status')}, val, '${text("未知")}', true);
         }},
		{header:'${text("所属标的类目")}', name:'category', index:'a.category', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('ht_assembly_category')}, val, '${text("未知")}', true);
		}},
        {header:'${text("适用设备品牌")}', name:'phoneBrand',  width:150, align:"center"},
        {header:'${text("适用设备型号")}', name:'phoneModel',  width:150, align:"center"},
		{header:'${text("所属部件")}', name:'htAssemblyUnit.name', index:'b.name', width:150, align:"center"},
        {header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
         }},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作者")}', name:'updateBy', index:'a.update_by', width:150, align:"left"},

		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('htaccessoriesinfo:htAccessoriesInfo:edit')){ %>
				actions.push('<a href="${ctx}/htaccessoriesinfo/htAccessoriesInfo/form?id='+row.id+'" class="btnList" title="${text("编辑配件表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/htaccessoriesinfo/htAccessoriesInfo/disable?id='+row.id+'" class="btnList" title="${text("停用配件表")}" data-confirm="${text("确认要停用该配件表吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/htaccessoriesinfo/htAccessoriesInfo/enable?id='+row.id+'" class="btnList" title="${text("启用配件表")}" data-confirm="${text("确认要启用该配件表吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/htaccessoriesinfo/htAccessoriesInfo/delete?id='+row.id+'" class="btnList" title="${text("删除配件表")}" data-confirm="${text("确认要删除该配件表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>