<% layout('/layouts/default.html', {title: '机型库表管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(htPhoneModelInfo.isNewRecord ? '新增机型库表' : '编辑机型库表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${htPhoneModelInfo}" action="${ctx}/phonemodelinfo/htPhoneModelInfo/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('设备品牌')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="brandId" items="${brandList}" itemLabel="name" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('渠道商')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="distributionId" items="${officeList}" itemLabel="office_name" itemValue="office_code" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('型号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="model" maxlength="64" class="form-control  required te"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('区间最低价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="priceLow" dataFormat="number" maxlength="6" class="form-control zeroFalse number required minNumber"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('区间最高价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="priceHigh" dataFormat="number" maxlength="6" class="form-control number zeroFalse priceVaild required minNumber"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('手机价格')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="phonePrice" dataFormat="number" maxlength="6" class="form-control zeroFalse number required minNumber"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('屏幕价格')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="screenPrice" dataFormat="number" maxlength="6" class="form-control zeroFalse number required minNumber"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('排序')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="sort" maxlength="9"  class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 备注：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea path="remark" rows="4" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('phonemodelinfo:htPhoneModelInfo:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>

        jQuery.validator.addMethod("te", function(value, element) {
            var tel =/^[A-Za-z0-9\u4e00-\u9fa5]+$/;
            return this.optional(element) || (tel.test(value)) ;
        }, '请勿输入特殊字符');

        jQuery.validator.addMethod("minNumber",function(value, element){
            var returnVal = true;
            inputZ=value;
            var ArrMen= inputZ.split(".");    //截取字符串
            if(ArrMen.length==2){
                if(ArrMen[1].length>2){    //判断小数点后面的字符串长度
                    returnVal = false;
                    return false;
                }
            }
            return returnVal;
        },"小数点后最多为两位");


    jQuery.validator.addMethod("priceVaild", function(value, element) {
       var priceLow = Number(document.getElementById("priceLow").value);
       var high = Number(value);
        if(priceLow<high){
            return true;
		}else{
            return false;
		}
    }, "最高价需大于最低价");
    jQuery.validator.addMethod("zeroFalse", function(value, element) {
        var high = Number(value);
        if(high>0){
            return true;
        }else{
            return false;
        }
    }, "输入得数字需要大于零");

$("#inputForm").validate({
	submitHandler: function(form){
        js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>