<% layout('/layouts/default.html', {title: '自付款信息表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('自付款信息表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<!--<% if(hasPermi('deductible:htDeductibleInfo:edit')){ %>-->
					<!--<a href="${ctx}/deductible/htDeductibleInfo/form" class="btn btn-default btnTool" title="${text('新增自付款信息表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>-->
				<!--<% } %>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${htDeductibleInfo}" action="${ctx}/deductible/htDeductibleInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('工单号')}：</label>
					<div class="control-inline">
						<#form:input path="htFormInfo.id" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('客户姓名')}：</label>
					<div class="control-inline">
						<#form:input path="userName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('联系电话')}：</label>
					<div class="control-inline">
						<#form:input path="phone" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('维修类型')}：</label>
					<div class="control-inline">
						<#form:select path="maintainTypr" maxlength="1"  dictType="maintain_type" blankOption="true" blankOptionLabel="请选择" class="form-control width-120"/>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label">${text('付款状态')}：</label>
					<div class="control-inline">
						<#form:select path="payStatus" maxlength="1"  dictType="pay_status" blankOption="true" blankOptionLabel="请选择"  class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('确认状态')}：</label>
					<div class="control-inline">
						<#form:select path="affirmStatus" maxlength="1"  dictType="affirm_status" blankOption="true" blankOptionLabel="请选择"  class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("工单号")}', name:'htFormInfo.id', index:'a.form_id', width:150, align:"left"},
		{header:'${text("客户姓名")}', name:'userName', index:'a.user_name', width:150, align:"left"},
		{header:'${text("联系电话")}', name:'phone', index:'a.phone', width:150, align:"left"},
		{header:'${text("产品名称")}', name:'productName', index:'a.product_name', width:150, align:"left"},
		{header:'${text("自付款额度")}', name:'deductiblesLimit', index:'a.deductibles_limit', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("维修类型")}', name:'maintainTypr', index:'a.maintain_typr', width:150, align:"left",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('maintain_type')}, val, '${text("--")}', true);
            }},
		{header:'${text("确认报价时间")}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text("付款时间")}', name:'payDate', index:'a.pay_date', width:150, align:"center"},
		{header:'${text("支付状态")}', name:'payStatus', index:'a.pay_status', width:150, align:"left",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('pay_status')}, val, '${text("--")}', true);
            }},
		{header:'${text("确认状态")}', name:'affirmStatus', index:'a.affirm_status', width:150, align:"left",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('affirm_status')}, val, '${text("--")}', true);
            }},
		// {header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
		// 	var actions = [];
		// 	<% if(hasPermi('deductible:htDeductibleInfo:edit')){ %>
         //         if(row.affirmStatus=='1'){
         //                actions.push('<a href="${ctx}/deductible/htDeductibleInfo/form?id='+row.id+'" class="btnList" data-title="${text("自付款信息")}" >待确认收款</a>&nbsp;');
         //             }
         //        if(row.affirmStatus=='0'){
         //                actions.push('<a href="${ctx}/deductible/htDeductibleInfo/form?id='+row.id+'" class="btnList" data-title="${text("自付款信息")}" >已确认收款</a>&nbsp;');
         //             }
		// 	<% } %>
		// 	return actions.join('');
		// }}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>