<% layout('/layouts/default.html', {title: '保单管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(policyInfo.isNewRecord ? '新增保单' : '编辑保单')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${policyInfo}" action="${ctx}/policy/policyInfo/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<#form:hidden path="uniqueMark"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('客户姓名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strName" maxlength="64" class="form-control required ming"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('联系方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strContactNum" maxlength="50" class="form-control required mobile"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('证件类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="strType" dictType="id_type" blankOption="true" blankOptionLabel="请选择"  class="form-control " />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('微信')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strWechat" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('证件号码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strCardId" maxlength="255" class="form-control idcard"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('生日')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateBirthday"  maxlength="20" class="form-control Wdate required date"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true});"  class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('性别')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="strSex" dictType="sys_user_sex"  blankOption="true"  blankOptionLabel="请选择" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('分公司')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strFiliale" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('渠道名称')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8" >
							<#form:treeselect id="testOffice" title="${text('渠道选择')}"
							path="channelId" labelPath="strChannelName"
							url="${ctx}/product/channelProductInfo/treeData?parentCode=0_XS001" allowClear="true"
							callbackFuncName="treeselectCallback()" checkbox="false" class="form-control required"/>
						</div>
					</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('渠道产品名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="channelProductId"  items="${channelProductList}" itemLabel="channelName" itemValue="id" blankOption="true"  blankOptionLabel="请选择" class="form-control required" disabled="disabled"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('产品售价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="intProductPrice" maxlength="11" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('手机价格')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="intSellPrice" maxlength="11" class="form-control required number digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('购机时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateCostTime" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('省份')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strProvince" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('卡号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strCardNumber" maxlength="255" class="form-control abc"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('购卡时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateBuyCard" readonly="true" maxlength="20" class="form-control Wdate required date"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('保单生效时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateEffectiveDate" readonly="true" maxlength="20" class="form-control Wdate required date"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('手机购买方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strBuyPattern" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('保单终止时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dateEndDate" readonly="true" maxlength="20" class="form-control Wdate required date"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('制式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strSys" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('手机品牌')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="strPhoneBrand"  items="${brandList}" itemLabel="name" itemValue="id" blankOption="true"  blankOptionLabel="请选择" class="form-control required"  onchange="findPhoneModel()"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('颜色')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strColor" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('手机型号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="strPhoneModel"  items="${channelProductList}" itemLabel="model" itemValue="id" blankOption="true"  blankOptionLabel="请选择" class="form-control required" disabled="disabled"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('城市')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strCity" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('内存')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="intInternal" maxlength="3" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('门店')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strStore" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('手机IMEI号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strImeiNum" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('销售员')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="strSalesman" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('贷款额度')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="intLoanAmount" maxlength="11" class="form-control digits"/>
							</div>
						</div>
					</div>
				<#form:hidden path="intBatchNum"/>
				<#form:hidden path="intStatus"/>
				<#form:hidden path="strCardType"/>
				<#form:hidden path="channelProInfoId"/>
				<#form:hidden path="groupProductId"/>
				<#form:hidden path="policySubmissionDate"/>
				<#form:hidden path="remarks"/>
				<#form:hidden path="delflag"/>
				<#form:hidden path="invite"/>
				<#form:hidden path="inviteflag"/>
				<#form:hidden path="fromtype"/>
				<#form:hidden path="bhstauts"/>
				<#form:hidden path="callguke"/>
				<#form:hidden path="openid"/>
				<#form:hidden path="externalIdentifier"/>
				<#form:hidden path="bhFlag"/>
				<#form:hidden path="insurancePeriods"/>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('policy:policyInfo:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
    jQuery.validator.addMethod("ming", function(value, element) {
        var tel =/^[a-zA-Z ]{1,20}$/;
        var tee =/^[\u4e00-\u9fa5]{1,10}$/;
        return this.optional(element) || (tel.test(value)) || (tee.test(value)) ;
    }, '姓名格式有误');


$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
function treeselectCallback(id, act, index, layero, nodes){
   var dis= $('#testOfficeCode').val();
    console.log(dis);
	if (dis!=null||dis!=""|dis!=undefined){

        $.ajax({
            type:'post',
            async: false,
            url:'${ctx}/policy/policyInfo/findChannelProduct?distributionId='+dis,
            dataType:'json',
            success:function(data){
                if(data.status=="success"){
                    console.log(data.data);
                 //   $('#groupProductName').attr("items",data.data);
                    var options = [];
                        var jsonobj =data.data;
                        $.each(jsonobj, function (index, value) {
                            options.push("<option value='" + value.id + "'> " + value.name + "</option>");
                        });
                        $("#channelProductId").html(options.join(''));

                    $('#channelProductId').removeAttr("disabled");
                }else{
                    alert(data.msg)
                }
            }
        });
	}
}

function findPhoneModel() {
    var option=$('#strPhoneBrand option:selected').val(); //获取选中的项
	console.log(option);
	if (option==null||option==undefined||option==""){
        $("#strPhoneModel option").remove();
        $('#strPhoneModel').attr("disabled",true)
	    return;
	}
    $.ajax({
        type:"get",
        url:"${ctx}/phonemodelinfo/htPhoneModelInfo/findByPhoneModel?brandId="+option,
        success: function(data) {
            var options = [];
            $.each(data, function (index, value) {
                options.push("<option value='" + value.id + "'> " + value.model + "</option>");
            });
            $("#strPhoneModel option").remove();
            $("#strPhoneModel").append(options.join(''));
            $('#strPhoneModel').attr("disabled",false)




            console.log(data);
        }
    });
}
</script>