<% layout('/layouts/default.html', {title: '咨询工单-待联系客户管理', libs: ['validate']}){ %>
<link rel="stylesheet" href="${ctxStatic}/common/css/index.css">
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text('咨询工单')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${htAdvisoryInfo}" action="${ctx}/advisory/htAdvisoryInfo/againSave" method="post" class="form-horizontal">
		<div class="box-body">

			<#form:hidden path="id"/>
			<div calss="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('电话录音')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<audio src="${htCallLog.data!}" controls autoplay></audio>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-1" title="">
							<span class="required">*</span> ${text('联系情况')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-9">
							<#form:radio path="contactStatus" dictType="contact_status" class="form-control required" disabled="disabled"/>
						</div>
					</div>
				</div>
			</div>


			<div class="row" >
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('再次沟通的时间')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="againDate" readonly="true" maxlength="20" class="form-control Wdate"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true});" disabled="disabled"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control" disabled="disabled"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">

		</div>
	</#form:form>
</div>
</div>
<% } %>
<script src="${ctxStatic}/common/js/index.js"></script>
<script src="${ctxStatic}/common/js/jquery.rotate.min.js"></script>
<script>
    $("#inputForm").validate({
        submitHandler: function(form){
            js.ajaxSubmitForm($(form), function(data){
                js.showMessage(data.message);
                if(data.result == Global.TRUE){
                    js.closeCurrentTabPage(function(contentWindow){
                        contentWindow.page();
                    });
                }
            }, "json");
        }
    });
</script>