<% layout('/layouts/default.html', {title: '换新工单-待报价', libs: ['validate']}){ %>
<div class="main-content">
	<% include('/modules/common/policyDetail.html', {commonFromId:commonFromId}){} %>

	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${htRenewForm}" action="${ctx}/renew/htRenewForm/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('核实用户实际信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客户姓名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="htClaimSettlementForm.userName" readonly="true" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联系电话')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="htClaimSettlementForm.phone" readonly="true" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('手机品牌')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="htClaimSettlementForm.phoneBrand" disabled="true" items="${brandList}" blankOption="true" blankOptionLabel="请选择" itemLabel="name" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('手机型号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="htClaimSettlementForm.phoneModel" disabled="true" items="${typeList}" blankOption="true" blankOptionLabel="请选择"  itemLabel="model" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('是否同型号换机')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="isModel" disabled="true" onchange="changeIsModel()" dictType="is_model" class="form-control required" />
							</div>
						</div>
					</div>
					<div class="old col-xs-3 hide">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('换机品牌')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="changeBrand" disabled="true" onchange="findPhoneModel()" items="${brandList}" blankOption="true" blankOptionLabel="请选择" itemLabel="name" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
					<div class="old col-xs-3 hide">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('换机型号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="changeModel" disabled="true" items="${typeList}" blankOption="true" blankOptionLabel="请选择"  itemLabel="model" itemValue="id" class="form-control required" />

							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('制式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="changeNet" disabled="true" dictType="change_net" blankOption="true" blankOptionLabel="请选择" class="form-control" />

							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('换机颜色')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="changeColor" disabled="true"  dictType="phone_color" blankOption="true" blankOptionLabel="请选择" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('换机内存')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="changeMemory" disabled="true" dictType="change_memory" blankOption="true" blankOptionLabel="请选择" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('原购机价格')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="oldPhonePrice" disabled="true" onchange="changeOldPrice()" name="oldPhonePrice" value="${@NumberUtils.formatNumber(htRenewForm.oldPhonePrice/100,'0.00')}" min="0" class="form-control number required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('采购渠道')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="purchaseChannel" disabled="true" items="${channelsList}" blankOption="true" blankOptionLabel="请选择"  itemLabel="strname" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('渠道考核价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="channelPrice" disabled="true" name="channelPrice" value="${@NumberUtils.formatNumber(htRenewForm.channelPrice/100,'0.00')}" min="0" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('采购价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="purchasePrice" disabled="true" name="purchasePrice" value="${@NumberUtils.formatNumber(htRenewForm.purchasePrice/100,'0.00')}" min="0" class="form-control number required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('手机报价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="phonePrice" disabled="true" name="phonePrice" value="${@NumberUtils.formatNumber(htRenewForm.phonePrice/100,'0.00')}" min="0" class="form-control number required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('平均市场价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="marketPrice" disabled="true" name="marketPrice" value="${@NumberUtils.formatNumber(htRenewForm.marketPrice/100,'0.00')}" min="0" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('其他金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="otherPrice" disabled="true" name="otherPrice" value="${@NumberUtils.formatNumber(htRenewForm.otherPrice/100,'0.00')}" min="0" class="form-control number required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('其他金额说明')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="otherRemarks" disabled="true" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="old row hide">
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('折旧月数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="oldMonth" disabled="true" name="oldMonth" value="${htRenewForm.oldMonth}" onchange="changeOldPrice()"  min="0" class="form-control number required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('折旧后新机价格')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="oldNewPrice" disabled="true" name="oldNewPrice" value="${@NumberUtils.formatNumber(htRenewForm.oldNewPrice/100,'0.00')}" min="0" class="form-control number required"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('自付额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="selfPrice" disabled="true" name="selfPrice" value="${@NumberUtils.formatNumber(htRenewForm.selfPrice/100,'0.00')}" readonly="true"  min="0" class="form-control number required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('自付额是否代收')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="isSelfPrice" disabled="true" dictType="sys_yes_no" class="form-control required" />

							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('快递到付金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="expressPrice" disabled="true" name="expressPrice" value="${@NumberUtils.formatNumber(htRenewForm.expressPrice/100,'0.00')}" min="0" class="form-control number "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('收货人姓名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="receiveName" disabled="true" maxlength="15" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('收货人手机号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="receivePhone" disabled="true" maxlength="11" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('收货人地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="receiveAddress" disabled="true" class="form-control"/>
							</div>
						</div>
					</div>

					<div class="col-xs-3">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> ${text('明细地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="receiveAddressDetail" disabled="true" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" disabled="true" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="box-footer">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
				</div>
			</div>
		</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>


$(function(){
	changeIsModel();
});


function changeIsModel(){

	let isModel= $("#isModel").val();
	//0异型号1同型号
	if(isModel == '0'){

		$(".old").removeClass("hide");
		$("#oldMonth").removeAttr("disabled");
		$("#oldNewPrice").removeAttr("disabled");
		$("#changeBrand").removeAttr("disabled");
		$("#changeModel").removeAttr("disabled");

	}else{

		$(".old").addClass("hide");
		$("#oldMonth").attr("disabled",true);
		$("#oldNewPrice").attr("disabled",true);
		$("#changeBrand").attr("disabled",true);
		$("#changeModel").attr("disabled",true);

	}
}

function findPhoneModel() {
	var option=$('#changeBrand option:selected').val(); //获取选中的项
	$.ajax({
		type:"get",
		url:"${ctx}/phonemodelinfo/htPhoneModelInfo/findByPhoneModel?brandId="+option,
		success: function(data) {
			var options = [];
			$.each(data, function (index, value) {
				options.push("<option value='" + value.id + "'> " + value.model + "</option>");
			});
			$("#changeModel option").remove();
			$("#changeModel").append(options.join(''));
			$('#changeModel').attr("disabled",false);
		}
	});
}

//折旧金额=原购机金额*（20%基础折旧率+N*2%每月折旧率）
//折旧后新机价格（原手机折旧后价格）=原购机价格-折旧金额
function changeOldPrice(){
	//原购机金额
	let oldPhonePrice = $("#oldPhonePrice").val();
	//折旧月数
	let oldMonth = $("#oldMonth").val();
	//折旧金额
	let oldPrice = oldPhonePrice*(0.2+oldMonth*0.02);

	//折旧后新机价格
	let oldNewPrice = js.formatNumber(oldPhonePrice-oldPrice, 2);
	$("#oldNewPrice").val(oldNewPrice);

}

/**
 * 选择回调方法
 * @param id  标签的id
 * @param act 动作事件：ok、clear、cancel
 * @param index layer的索引号
 * @param layero layer内容的jQuery对象
 * @param nodes 当前选择的树节点数组
 */
function treeselectCallback(id, act, index, layero, nodes){

	$("#receiveAddress").val($("#addressName").val())

}


$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
	}
});
</script>