<% layout('/layouts/default.html', {title: '换新工单-待邮寄', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<% include('/modules/common/policyDetail.html', {commonFromId:commonFromId}){} %>

	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${htRenewForm}" action="${ctx}/renew/htRenewForm/save" method="post" class="form-horizontal">
		<div class="box-body">
			<#form:hidden path="id"/>

			<div class="row">
				<div class="old col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('新机品牌')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="changeBrand" disabled="true" items="${brandList}" blankOption="true" blankOptionLabel="请选择" itemLabel="name" itemValue="id" class="form-control required" />
						</div>
					</div>
				</div>
				<div class="old col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('新机型号')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="changeModel" disabled="true" items="${typeList}" blankOption="true" blankOptionLabel="请选择"  itemLabel="model" itemValue="id" class="form-control required" />
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('新机颜色')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="changeColor" disabled="true" dictType="phone_color" blankOption="true" blankOptionLabel="请选择" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('制式')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="changeNet" disabled="true" dictType="change_net" blankOption="true" blankOptionLabel="请选择" class="form-control" />

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('新机内存')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="changeMemory" disabled="true" dictType="change_memory" blankOption="true" blankOptionLabel="请选择" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('新机报价')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input id="phonePrice" name="phonePrice" value="${@NumberUtils.formatNumber(htRenewForm.phonePrice/100,'0.00')}" readonly="true" min="0" class="form-control number required"/>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('自付额是否代收')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:radio path="isSelfPrice"  disabled="true" dictType="sys_yes_no" class="form-control required" />

						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('新机IMEI')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="newImei" maxlength="64" class="form-control required"/>
						</div>
					</div>
				</div>
			</div>

			<div class="form-unit">${text('快递信息')}</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('快递公司')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select disabled="true" path="renewExpressCompany" blankOption="true" blankOptionLabel="请选择"  items="${exList}" itemLabel="exprname" itemValue="id" class="form-control required" />
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('快递单号')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="renewExpressNo" disabled="true" maxlength="64" class="form-control required"/>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('换新完成快递日期')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="renewExpressDate" readonly="true" maxlength="20" class="form-control Wdate required"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true});"/>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('快递费用')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input id="expressPrice" disabled="true" name="expressPrice" value="${@NumberUtils.formatNumber(htRenewForm.expressPrice/100,'0.00')}" readonly="true" maxlength="15" class="form-control required"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('收货人姓名')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="receiveName" readonly="true" maxlength="15" class="form-control required"/>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('收货人手机号')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="receivePhone" readonly="true" maxlength="15" class="form-control required"/>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('收货人地址')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="receiveAddress" readonly="true" class="form-control required"/>

						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required">*</span> ${text('明细地址')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="receiveAddressDetail" readonly="true" maxlength="255" class="form-control required"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-1" title="">
							<span class="required">*</span> ${text('上传留存照片')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-12">
							<ul class="picView-magnify-list" style="padding: 0px">
								<% for(imgs in renewImageList!){ %>
								<li>
									<a href="javascript:void(0)" data-magnify="gallery" data-group="g1" data-src="${imgs}" data-caption="">
										<img src="${imgs}" width="100px" height="100px">
									</a>
								</li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('电子发票')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-10">
							<#form:textarea disabled="true" path="renewInvoice" rows="4" maxlength="500" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-10">
							<#form:textarea disabled="true" path="remarks" rows="4" maxlength="500" class="form-control"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">

					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
				</div>
			</div>
		</div>
	</#form:form>
</div>
</div>
<% } %>
<script>


	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					js.closeCurrentTabPage(function(contentWindow){
						contentWindow.page();
					});
				}
			}, "json");
		}
	});
</script>