<% layout('/layouts/default.html', {title: '渠道产品表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('渠道产品表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('product:channelProductInfo:edit')){ %>
					<a href="${ctx}/product/channelProductInfo/form" class="btn btn-default btnTool" title="${text('新增渠道产品表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${channelProductInfo}" action="${ctx}/product/channelProductInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">


			<div class="form-group">
				<label class="control-label">${text('渠道')}：</label>
				<div class="control-inline width-120" >
					<#form:treeselect id="testOffice" title="${text('渠道选择')}"
					path="distributionId" labelPath="distributionName"
					url="${ctx}/product/channelProductInfo/treeData?parentCode=0_XS001" allowClear="true"/>
				</div>
			</div>



				<div class="form-group">
					<label class="control-label">${text('渠道产品名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
			<div class="form-group">
				<label class="control-label">${text('组合产品名称')}：</label>
				<div class="control-inline width-120">
					<#form:select path="groupProductId" items="${groupProductList}"  itemLabel="productName" itemValue="id"  blankOption="true" blankOptionLabel="请选择"   blankOption="true" class="form-control"/>
				</div>
			</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" blankOptionLabel="请选择"  class="form-control"/>
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [

		{header:'${text("渠道商名称")}', name:'distributionName', index:'', width:150, align:"center", formatter: function(val, obj, row, act){
			return  '<a href="${ctx}/product/channelProductInfo/form?id='+row.id+'" class="btnList" data-title="${text("编辑渠道产品表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("渠道产品名称")}', name:'name', index:'a.name', width:170, align:"left"},
        {header:'${text("渠道产品编码")}', name:'code', index:'a.code', width:170, align:"left"},
        {header:'${text("组合产品名称")}', name:'groupProductName', index:'', width:170, align:"center"},
        // {header:'${text("组合产品ID")}', name:'groupProductId', index:'a.group_product_id', width:160, align:"center", formatter: function(val, obj, row, act){
        //         return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
        //     }},
        {header:'${text("换机产品")}', name:'changeProductName', index:'a.id', width:150, align:"center"},
        {header:'${text("维修产品")}', name:'maintainProductName', index:'a.id', width:150, align:"center"},
        {header:'${text("数据保产品")}', name:'dataProductName', index:'a.id', width:150, align:"center"},
        {header:'${text("延保产品")}', name:'extendProductName', index:'a.id', width:150, align:"center"},
		{header:'${text("服务成本价")}', name:'serveCostPrice', index:'a.serve_cost_price', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},

		{header:'${text("保费")}', name:'premium', index:'a.premium', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("建议零售价")}', name:'suggestedRetailPrice', index:'a.suggested_retail_price', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},

		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("--")}', true);
            }},

		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('product:channelProductInfo:edit')){ %>
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/product/channelProductInfo/disable?id='+row.id+'" class="btnList" title="${text("停用渠道产品")}" data-confirm="${text("确认要停用该渠道产品吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/product/channelProductInfo/enable?id='+row.id+'" class="btnList" title="${text("启用渠道产品")}" data-confirm="${text("确认要启用该渠道产品吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/product/channelProductInfo/delete?id='+row.id+'" class="btnList" title="${text("删除渠道产品")}" data-confirm="${text("确认要删除该渠道产品吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>