<% layout('/layouts/default.html', {title: '产品表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('产品表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('product:productInfo:edit')){ %>
					<a href="${ctx}/product/productInfo/form" class="btn btn-default btnTool" title="${text('新增产品表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${productInfo}" action="${ctx}/product/productInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('产品名称')}：</label>
					<div class="control-inline">
						<#form:input path="proName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label">${text('服务标的/类目')}：</label>
					<div class="control-inline width-120">
						<#form:select path="category" dictType="category" blankOption="true"  blankOptionLabel="请选择" class="form-control"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">${text('产品类别')}：</label>
					<div class="control-inline width-120">
						<#form:select path="productType" dictType="product_type"  blankOption="true" blankOptionLabel="请选择"  class="form-control"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" blankOptionLabel="请选择" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("产品名称")}', name:'proName', index:'a.pro_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/product/productInfo/form?id='+row.id+'" class="btnList" data-title="${text("编辑产品表")}">'+(val||row.id)+'</a>';
		}},
        {header:'${text("产品类别")}', name:'productType', index:'a.product_type', width:150, align:"center",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('product_type')}, val, '${text("--")}', true);
            }},

		// {header:'${text("产品编码")}', name:'proCode', index:'a.pro_code', width:150, align:"left"},
		{header:'${text("服务标的/类目")}', name:'category', index:'a.category', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('category')}, val, '${text("--")}', true);
		}},
		{header:'${text("操作系统类型")}', name:'systemType', index:'a.system_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('system_type')}, val, '${text("--")}', true);
		}},

		{header:'${text("维修品质")}', name:'maintainStandard', index:'a.maintain_standard', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('maintain_standard')}, val, '${text(" --")}', true);
		}},
		{header:'${text("维修部件")}', name:'assemblyId', index:'a.assembly_id', width:150, align:"left"},

		{header:'${text("维修次数")}', name:'maintenanceFrequency', index:'a.maintenance_frequency', width:150, align:"center"},

		{header:'${text("换新次数")}', name:'changeFrequency', index:'a.change_frequency', width:150, align:"center"},
        {header:'${text("操作者")}', name:'updateBy', index:'a.update_by', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		// {header:'${text("备注")}', name:'remark', index:'a.remark', width:150, align:"left"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center",formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("--")}', true);
            }},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('product:productInfo:edit')){ %>
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/product/productInfo/disable?id='+row.id+'" class="btnList" title="${text("停用产品")}" data-confirm="${text("确认要停用该产品吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/product/productInfo/enable?id='+row.id+'" class="btnList" title="${text("启用产品")}" data-confirm="${text("确认要启用该产品吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/product/productInfo/delete?id='+row.id+'" class="btnList" title="${text("删除产品")}" data-confirm="${text("确认要删除该产品吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>