<% layout('/layouts/default.html', {title: '维修网点表管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(htMaintenancePoint.isNewRecord ? '新增维修网点表' : '编辑维修网点表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${htMaintenancePoint}" action="${ctx}/htmaintenancepoint/htMaintenancePoint/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('网点基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('机构选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:treeselect id="organizationId" title="${text('机构选择')}"
								path="organizationId" labelPath="office.officeName"
								url="${ctx}/product/channelProductInfo/treeData?parentCode=0_WXWD001"
								class="" allowClear="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('维修网点名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="maintenancePointName" maxlength="255" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联系人1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contactOne" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联系电话1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contactNumberOne" maxlength="15" class="form-control haoma required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联系人2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contactTwo" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联系电话2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contactNumberTwo" maxlength="15" class="form-control haoma required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('区域选择')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:treeselect id="area" title="${text('区域选择')}"
									path="area" labelPath="areas.areaName"
									url="${ctx}/sys/area/treeData"
									class="" allowClear="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="address" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('经纬度')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="longitudeLatitude" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('覆盖省')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="coverageProvince" multiple="true" items="${provinceList}" itemLabel="area_name" itemValue="area_code" class="form-control required" onchange="findCity()"/>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('覆盖市')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="coverageCity" multiple="true" items="${cityList}" itemLabel="area_name" itemValue="area_code" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('合同有效开始')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contractLifeStart" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('合同有效结束')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contractLifeEnd" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:true});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('门头照片')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${htMaintenancePoint.id}" bizType="htMaintenancePoint_image"
								uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>

				<div class="form-unit">${text('网点服务信息')}</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('品牌授权')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:checkbox path="brandAuthorizingStr" items="${brandInfoList}" itemLabel="name" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('维修类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:checkbox path="maintainTypeStr" items="${htBreakdownInfoList}" itemLabel="breakType" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('维修品牌')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:checkbox path="maintainBrandStr" items="${brandInfoList}" itemLabel="name" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('渠道名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:checkbox path="distributorStr" items="${officeList}" itemLabel="office_name" itemValue="office_code" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('维修品质')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:checkbox path="maintainQualityStr" dictType="ht_maintain_quality" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('服务方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:checkbox path="serviceModeStr" dictType="ht_service_mode" class="form-control required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否接单')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="whetherOrder" dictType="common_status" class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<% if (!htMaintenancePoint.isNewRecord){ %>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('平均单价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${htMaintainPointKpi.averagePrice!}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('维修时效')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${htMaintainPointKpi.timeEfficiency!}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('返修率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${htMaintainPointKpi.repairRate!}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('投诉率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${htMaintainPointKpi.complainEfficiency!}
							</div>
						</div>
					</div>
				</div>
				<% } %>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 备注：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea path="testTextarea" rows="4" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('htmaintenancepoint:htMaintenancePoint:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
        jQuery.validator.addMethod("haoma", function(value, element) {
            var tel =/^(0[0-9]{2,3}\-)([2-9][0-9]{6,7})+(\-[0-9]{1,4})?$/;
            var tell =/^1[34578][0-9]{9}$/;

            return this.optional(element) || (tel.test(value)) || (tell.test(value));
        }, '号码格式有误');


$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
function findCity() {
    var option=$('#coverageProvince').val(); //获取选中的项
    console.log(option);
    $.ajax({
        type:"get",
        url:"${ctx}/htmaintenancepoint/htMaintenancePoint/getAreaLinkage?prdStrs="+option,
        success: function(data) {
            var options = [];
            $.each(data, function (index, value) {
                options.push("<option value='" + value.areaCode + "'> " + value.areaName + "</option>");
            });
            $("#coverageCity option").remove();
            $("#coverageCity").append(options.join(''));
            $('#coverageCity').attr("disabled",false);
            console.log(data);
        }
    });
}
</script>